.cabecalho__logo {
    display: flex;
    width: 30%;
    height: 100%;
}

.cabecalho__pesquisa {
    background: url(../img/lupa.png) no-repeat right;
    background-color: #ffffff;
    border: solid 2px #8FBC8F;
    border-radius:10px;
    display: flex;
    height: 2rem;
    margin: auto .5rem auto .5rem;
    width: 33%;
}

.cabecalho__botao {
    background: #8FBC8F;
    border: none;
    border-radius: 7px 7px 7px 7px;
    color: #f1f1f1;
    font-size: 1.2rem;
    font-weight: bold;
    height: 2rem;
    text-align: center;
    width: 7%;
}

.cabecalho__menu {
    display: block;
    width: 30%;
}

.cabecalho__menu__lista {
    display: flex;
}

.cabecalho__menu__link {
    border: 1px solid;
    border-radius: 0 20px 10px 20px;
    color: #f1f1f1;
}

.cabecalho__menu__link__whatsapp {
    background-color: #f1f1f1;
    border: 1px solid;
    border-radius: 0 20px 10px 20px;
    color: #8FBC8F;
}

.cabecalho__menu__lista, .cabecalho__menu__link__whatsapp, .cabecalho__menu__link{
    display: flex;
    font-size: 1rem;
    margin: 5px;
    padding: .5rem;
    text-decoration: none;
}