.carousel__menu {
    width: 70vw;
    margin-bottom: 1rem;
}
.carousel__imagens {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: X mandatory;
}
.carousel__imagem {
    flex: none;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    pointer-events: none;
}

.imagem__carousel {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
