#container {
    display: grid;
    height: 100vh;
    place-items: center;
    grid-template-areas:
        "cabecalho"
        "conteudo"
        "rodape";
    grid-template-columns: auto;
    grid-template-rows: 100px auto auto;
    padding: 0 1rem;
    width: 100vw;
}

.cabecalho {
    align-items: center;
    background: #f1f1f1;
    display: flex;
    grid-area: cabecalho;
    text-align: center;
}

.conteudo {
    grid-area: conteudo;
    padding: 0 1rem;
}

.rodape {
    grid-area: rodape;
    padding: 0 1rem;
}
