#container {
    background: #f1f1f1;
    display: grid;
    grid-template-areas:
        "cabecalho"
        "navegacao"
        "carousel"
        "oferta"
        "vendidos"
        "rodape";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    padding: 0 1rem;
}

.cabecalho {
    align-items: center;
    display: flex;
    grid-area: cabecalho;
    margin-bottom: 1rem;
}

.navegacao {
    background-color: #8FBC8F;
    border: 3px solid #7ca47c;
    border-radius: 10px 10px 0px 0px;
    grid-area: navegacao;
    margin-bottom: 1rem;
}

.carousel {
    display: grid;
    grid-area: carousel;
    place-items: center;
}

.oferta {
    grid-area: oferta;
}

.vendidos {
    grid-area: vendidos;
}

.rodape {
    background-color: #000;
    display: flex;
    grid-area: rodape;
    justify-content: space-around;
    margin-top: 10px;
    text-align: center;
}
