.navegacao__menu {
    display: flex;
    padding: 10px 0px;
    width: 100%;
}

.navegacao__menu__lista {
    text-align: center;
    width: 20%;
}

.navegacao__menu__lista__link {
    color: #f1f1f1;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.navegacao__menu, .navegacao__menu__lista, .menu__navegacao__link {
    align-items: center;
}